<div class="card"> 
    <p-table [value]="reparaciones" styleClass="p-datatable-striped" > 
        <ng-template pTemplate="header">
            <tr>
                <th style="width:3rem">#</th>
                <th>Operacion</th>
                <th>Defecto</th>
                <th>Cantidad</th>
                <th>Comandos</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-reparacion let-rowIndex="rowIndex">
            <tr>
                <td>{{rowIndex+1}}</td>             
                <td *ngIf="rowGroupMetadata[reparacion.posicion].index === rowIndex" [attr.rowspan]="rowGroupMetadata[reparacion.posicion].size" >      
                    <span class="p-text-bold p-ml-2">{{reparacion.posicion}}</span>
                </td>
                <td>                 
                    {{reparacion.defecto}}
                </td>
                <td>
                    {{reparacion.cantidad}}
                </td>
                <td>
                  
                    <button pButton type="button" icon="pi pi-plus-circle" class="p-button-rounded p-mr-2" (click)="aumento(reparacion)"></button>

                    <button pButton type="button" icon="pi pi-trash"  class="p-button-rounded p-button-danger" (click)="eliminar(reparacion)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
