
<div class="p-grid">
    <div class="p-col-6">
        <div class="p-fluid">
            <div class="p-field">
               
                <span class="p-float-label">
                    <p-autoComplete id="lblCorte" [(ngModel)]="text" [minLength]="3" [suggestions]="results" field="corte" (completeMethod)="search($event)" (onFocus)="limpiarData()" (onSelect)="corteSeleccionado($event)"></p-autoComplete>
                    <label for="lblCorte">Corte</label>
                </span>
               
            </div>
            <div class="p-field">              
             
                        <p-button label="Estilo" badge="{{estilo}}" styleClass="p-button-warning"></p-button>
                      
                 
            </div>
        </div>
    </div>
    
    <div class="p-col-6">
        <div class="p-fluid">
            <div class="p-field">
                
                <span class="p-float-label">
                    <input id="float-input" type="text" [(ngModel)]="desc" (blur)="CambioDesc(desc)" pInputText> 
                    <label for="float-input">Descripcion</label>
                </span>
            </div>

            <div class="p-field">              
             
                <span class="p-float-label">
                    <input id="float-input" type="text" [(ngModel)]="this.evento.porder.color"  pInputText> 
                    <label for="float-input">Color</label>
                </span>
              
         
              </div>
        </div>   
      
    </div>
</div>